<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="style.css">
        <title>Saatchi &amp;Saatchi</title>
</head>
<body>
    <div class="main">

    

        <nav>
            <div class="nav-item">
                <div class="item1">
                    <a href="../../index.html" class="logo">LOGO</a>
                </div>
                <div class="item2">
                    <ul>
                        <li><a href="../../index.html">HOME</a></li>
                        <li><a href="../about/about.html">ABOUT</a></li>
                        <li><a href="../product/product.html">PRODUCT</a></li>
                        <li><a href="../gallery/gallery.html" style="color: rgb(0, 173, 0);">GALLERY</a></li>
                        <li><a href="../contact.html">CONTACT</a></li>
                    </ul>
                </div>
                <div class="item3">
                    <p style="color: rgb(0, 188, 0);">Call Us!</p>
                    <p>+8801986819914</p>
                </div>
                <div class="item4" onclick="myFunction()">
                    <i class="fa-solid fa-bars-staggered"></i>
                </div>
            </div>
            <div class="drop-item" id="myDIV">
                <div>
                    <ul>
                        <a href="../../index.html"><li>HOME</li></a>
                        <a href="../../" style="color: rgb(0, 173, 0);"><li>ABOUT</li></a>
                        <a href="../product/product.html"><li>PRODUCT</li></a>
                        <a href="#hero"><li>GALLERY</li></a>
                        <a href="../contact.html"><li>CONTACT</li></a>
                    </ul>
                </div>
                <div style="display: flex; align-items: center; justify-content: space-around;">
                <div class="item1">
                    <a href="#hero" class="logo">LOGO</a>
                </div>
                <div class="">
                    <p style="color: rgb(0, 188, 0);">Call Us!</p>
                    <p>+8801986819914</p>
                </div>
                </div>
               
            </div>
        </nav>
        <!-- ------ -->
        <div id="hero">
            <img src="../../img/Leaves.png" alt="" class="absImg">
            
            <section>
                <img src="../../img/bage.png" alt="" class="absImg">
                <h1>
                    Our Gallery
                </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut vitae, laudantium doloremque iusto delectus vel placeat deleniti porro! Accusantium at iure, autem ducimus et omnis.
                </p>
                <div class="card-div">
                    <div class="card"><a style="width: 100%; height: 100%;"><img src="../../img/vegetable1.jpeg" width="100%" height="100%" alt=""></a></div>
                    <div class="card"><a style="width: 100%; height: 100%;"><img src="../../img/vegetable2.jpeg" width="100%" height="100%" alt=""></a></div>
                    <div class="card"><a style="width: 100%; height: 100%;"><img src="../../img/vegetable3.jpeg" width="100%" height="100%" alt=""></a></div>
                    <div class="card"><a style="width: 100%; height: 100%;"><img src="../../img/vegetable4.jpeg" width="100%" height="100%" alt=""></a></div>
                    <div class="card"><a style="width: 100%; height: 100%;"><img src="../../img/vegetable5.jpeg" width="100%" height="100%" alt=""></a></div>
                    <div class="card"><a style="width: 100%; height: 100%;"><img src="../../img/vegetable6.jpeg" width="100%" height="100%" alt=""></a> </div>
                    <div class="card"><a style="width: 100%; height: 100%;"><img src="../../img/vegetable1.jpeg" width="100%" height="100%" alt=""></a></div>
                    <div class="card"><a style="width: 100%; height: 100%;"><img src="../../img/vegetable2.jpeg" width="100%" height="100%" alt=""></a></div>
                    <div class="card"><a style="width: 100%; height: 100%;"><img src="../../img/vegetable3.jpeg" width="100%" height="100%" alt=""></a></div>
                    <div class="card"><a style="width: 100%; height: 100%;"><img src="../../img/vegetable4.jpeg" width="100%" height="100%" alt=""></a></div>
                    <div class="card"><a style="width: 100%; height: 100%;"><img src="../../img/vegetable5.jpeg" width="100%" height="100%" alt=""></a></div>
                    <div class="card"><a style="width: 100%; height: 100%;"><img src="../../img/vegetable6.jpeg" width="100%" height="100%" alt=""></a> </div>
                    <div class="img-box"><img src="img/vegetable1.jpeg" alt=""></div>
                </div>
            <a href="../contact.html"><button style="margin: auto; margin-top: 30px;">read more</button></a>
            </section>
        </div>
        <!-- <footer> </footer> -->
        <footer style="z-index: 5;">
            <div class="container">
                <div class="footer-top">
                    <div class="row">
                        <div class="box">
                            <div class="  about-footer">
                                <h3>Lorem Ipsum dummy text </h3>
                                <ul>
                                    <li><a href="tel:(010) 1234 4321"><i class="fas fa-phone fa-flip-horizontal"></i>(010) 1234 4321</a></li>
                                    <li><i class="fas fa-map-marker-alt"></i>
                                        1 / 105 Bay Lights,
                                        <br/>Lorem Ipsum,
                                        <br/>LIC 3201
                                    </li>
                                </ul>
                                <a href="" class=""><button>READ MORE</button></a>
                            </div>
                            <div class="  page-more-info">
                                <div class="footer-title">
                                    <h4>Page links</h4>
                                </div>
                                <ul>
                                    <li><a href="../../index.html">Home</a></li>
                                    <li><a href="../about/about.html">About</a></li>
                                    <li><a href="../product/product.html">Product</a></li>
                                    <li><a href="#hero">Gallery</a></li>
                                    <li><a href="../contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="box">
                            <div class="  page-more-info">
                                <div class="footer-title">
                                    <h4 class="m-center">More Info</h4>
                                </div>
                                <ul>
                                    <li><a href="#">Lorem ipsum</a></li>
                                    <li><a href="#">Dolor sit amet</a></li>
                                    <li><a href="#">Consectetur Adipisicing </a></li>
                                    <li><a href="#">Ed do eiusmod tempor incididunt</a></li>
                                </ul>
                            </div>
                            <div class=" col-lg-4 open-hours">
                                <div class="footer-title left">
                                    <h4>Open hours</h4>
                                    <ul class="footer-social">
                                        <li><a href="" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            
                                    </ul>
                                </div>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td><i class="far fa-clock"></i>Monday Thursday</td>
                                            <td>9:00am - 5:00pm</td>
                                        </tr>
                                        <tr>
                                            <td><i class="far fa-clock"></i>Friday</td>
                                            <td>9:00am - 4:00pm</td>
                                        </tr>
                                        <tr>
                                            <td><i class="far fa-clock"></i>Sturday</td>
                                            <td>9:00am - 1:30pm</td>
                                        </tr>
                                        <tr>
                                            <td><i class="far fa-clock"></i>Sunday</td>
                                            <td>9:30am - 12:00pm</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr>
                                <div class="footer-logo">
            
                                <table>
                                    <tbody>
                                        <tr>
                                            <td><img src="img/vegetable1.jpeg"></td>
                                            <td><img src="img/vegetable2.jpeg"></td>
                                            <td><img src="img/vegetable3.jpeg"></td>
                                            <td><img src="img/vegetable4.jpeg"></td>
                                            <td><img src="img/vegetable5.jpeg"></td>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="footer-bottom">
                    <div class="row">
                        <div class="col-sm-4">
                            <a href="">Privacy policy</a>
                        </div>
                        <div class="col-sm-8 pWrap">
                            <p>Lorem ipsum dolor sit amet @ 2024 All rights reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        </div>
</body>
<script>
  {
    function myFunction() {
      var toggle = document.getElementById("myDIV");
      if (toggle.style.opacity === "0") {
          toggle.style.opacity = "1"
          toggle.style.top = 0
      } else {
          toggle.style.opacity = "0"
          toggle.style.top = "-100%"
      }
      }
  }
  let sec6Crd = document.querySelectorAll("section .card-div .card")
  let sec6img = document.querySelector("section .img-box")
  let img = document.querySelector("section .img-box img")
function showDiv(length, imgSrc) {
  sec6Crd[length].addEventListener("click", () => {
    sec6img.style.scale = 1
    img.removeAttribute("src")
    img.setAttribute("src", imgSrc)
  })
  sec6img.addEventListener("click", () => {
    sec6img.style.scale = 0
  })
}

showDiv(0, "../../img/vegetable1.jpeg")
showDiv(1, "../../img/vegetable2.jpeg")
showDiv(2, "../../img/vegetable3.jpeg")
showDiv(3, "../../img/vegetable4.jpeg")
showDiv(4, "../../img/vegetable5.jpeg")
showDiv(5, "../../img/vegetable6.jpeg")
showDiv(6, "../../img/vegetable1.jpeg")
showDiv(7, "../../img/vegetable2.jpeg")
showDiv(8, "../../img/vegetable3.jpeg")
showDiv(9, "../../img/vegetable4.jpeg")
showDiv(10, "../../img/vegetable5.jpeg")
showDiv(11, "../../img/vegetable6.jpeg")
</script>
</html>